<a href="https://colab.research.google.com/github/m677s345/EECS731_MS_Project1/blob/master/EECS731_project1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install cookiecutter and build code framework

In [ ]:
!pip install cookiecutter
!cookiecutter https://github.com/drivendata/cookiecutter-data-science

Importing packages

In [6]:
import numpy as np
import pandas as pd

In [8]:
s=pd.Series([1,3,5,np.nan,6,8])

dates=pd.date_range('20130101', periods=6)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64