<a href="https://colab.research.google.com/github/m677s345/EECS731_MS_Project1/blob/master/EECS731_project1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install cookiecutter and build code framework

In [ ]:
!pip install cookiecutter
!cookiecutter https://github.com/drivendata/cookiecutter-data-science

Importing packages

In [50]:
import numpy as np
import pandas as pd
Tdf= pd.read_csv('/content/eecs_731_project1_ms/data/external/110-tavg-all-7-2000-2020.csv', header=[0,3])
LPdf= pd.read_csv('/content/eecs_731_project1_ms/data/external/LivestockPrices.csv',header=[0,1,2,3],)
LPdf.head(10)

                               Unnamed: 0_level_0  ...       Unnamed: 13_level_0
                               Unnamed: 0_level_1  ...            San Angelo, TX
  NOTE: Zeros indicate missing data or no quotes.  ...      Feeder lambs, Choice
                                           Period  ...                     $/cwt
0                                          Jan-00  ...                     84.63
1                                          Feb-00  ...                     99.54
2                                          Mar-00  ...                     99.54
3                                          Apr-00  ...                     99.33
4                                          May-00  ...                    100.45
5                                          Jun-00  ...                     91.14
6                                          Jul-00  ...                     92.33
7                                          Aug-00  ...                     91.70
8                                          Sep-00  ...                     93.89
9                                          Oct-00  ...                     92.00

[10 rows x 14 columns]